[submodule "jsbrains"]
	path = jsbrains
	url = https://github.com/SoPat712/jsbrains.git
	branch = main
[submodule "obsidian-smart-env"]
	path = obsidian-smart-env
	url = https://github.com/SoPat712/obsidian-smart-env.git
	branch = main
